/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body{
  font-size: 12px;
  line-height: 1.2;
  background-color: #fff;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/* main */
main {
  height: calc(100vh - 50px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

main>section {
  display: none;
}

main>section:first-child {
  display: block;
}

.loading {
  text-align: center;
  font-size: 16px;
  display: none;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading .iconfont {
  display: inline-block;
  animation: .7s rotate linear infinite;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer>div {
  flex: 1;
  text-align: center;
}

footer>div>span {
  display: block;
  font-size: 12px;
}

footer>div>span.iconfont {
  padding-top: 5px;
  font-size: 21px;
}

footer .active {
  color:#00B51D;
}

/* card */
.card {
  width: calc(100vw - 24px);
  border-radius: 4px;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card a {
  display: flex;
}

.card .cover img{
  border-radius: 4px;
  width: 70px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.card .detail {
  flex:1;
  padding-left: 10px;
}

.card .detail h2 {
  font-size: 16px;
}

.card .detail .extra {
  color: #999;
  margin-top: 4px;
}

.card .detail .score{
  color: #FF5722;
  font-weight: bold;
}